.fc-container {
  position: relative;
}

.fc-input-container {
  height: 20px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100px;
  z-index: 1;
}

.fc-file-input {
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  font-size: 300px
}

.fc-upload-btn-hover {
  color: #000;
}

.fc-upload-list li {
  color: #333;
  margin-bottom: 10px;
}

.fc-rm-btn {
  margin-right: 10px;
  border-right: 1px solid #333;
  padding-right: 5px;
}
